<!-- threadview.html -->

{% extends "base.html" %}
{% block header_row %} 
Thread Title: {{ object.title }}
{% endblock header_row %}
{% block content_row %} 
        <div class="container-fluid">
            <h1>Detail Thread View</h1>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class panel-heading>
                        {{ object.name }}
                        <a href="{% url 'thread_view' object.pk %}" class="btn btn-sm btn-outline-primary"><i class ="fa fa-edit"></i></a>
                    </div>
                        <div class="panel-body"><p>
                        <ul class="list-inline-item">
                        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/139373-200.png" width="40" height="40">*Created By: {{ object.createdby }}
                        <li>Post Time:{{ object.time_created }}</li>
                        <li> {{ object.message }}</li>
                        <li>Last Modified @:{{ Thread.time_modified }}</li>
                        <a href="{% url 'thread_update' object.pk %}" class="btn bt btn-outline-primary"><i class="fa fa-edit"></i></a>
                         </p></div>
                </div>
            </div>
        </div>

{% endblock content_row %}

